{% extends 'Index.html' %}
{% load static %}



{% block contenido %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepag' %}">Bienvenido, {{ user.username }}</a>
            
            <!-- parte administrativa -->
            <a class="navbar-brand" href="{% url 'VenderAuto' %}">Vender un auto</a>
            <a class="navbar-brand" href="{% url 'RegistroEmpleado' %}">Agregar un administrador</a>
            <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            
            <!-- Botón Cerrar Sesión -->
        
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-large" value="salir" style="width: 100px;">
            </form>

            <div class="collapse navbar-collapse">
                
            </div>
        </div>
    </nav>
    <CEnter><div class="container " style="margin-top: 5%;" >
        <div class="card card-body">
            <h1>Agregar un Empleado Administrativo</h1>
            <form method="post">
                <!-- token que permtie que los datos sean enviados desde la web -->
                {% csrf_token %}
                {{ formulario }}
            
                <div class="text-center mt-3">
                    <input type="reset" class="btn btn-outline-info w-25" value="Limpiar">
                    <input type="submit" class="btn btn-primary w-25" value="Guardar">
                </div>
            </form>
        </div>
    </div></CEnter>
{% endblock contenido %}
    