<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionaria Online</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
    <h1>Bienvenido a Concesionaria Online</h1>

    <div>
        <h3>Permisos del usuario:</h3>
        <ul>
            {% if user.is_authenticated %}
                <!-- Listar todos los permisos del usuario autenticado -->
                {% for perm in user.get_all_permissions %}
                    <li>{{ perm }}</li>
                {% endfor %}
            {% else %}
                <p>Usuario no autenticado. Por favor, inicia sesión.</p>
            {% endif %}
        </ul>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger btn-large" value="salir" style="width: 100px;">
        </form>
    </div>

    <ul class="dropdown-menu">
        <!-- Verificar permisos específicos -->
        {% if user.is_authenticated %}
            {% if perms.clientes.view_vehiculo %}
            <li><a class="dropdown-item" href="{% url 'VenderAuto' %}">Vehículo</a></li>
            {% endif %}
            {% if perms.clientes.view_cliente %}
            <li><a class="dropdown-item" href="{% url 'homepag' %}">Clientes</a></li>
            {% endif %}
            {% if perms.clientes.view_empleado %}
            <li><a class="dropdown-item" href="{% url 'listar' %}">Empleados</a></li>
            {% endif %}
        {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
    {% block contenido %}
    <!-- Contenido específico de la página -->
    {% endblock contenido %}
</body>
</html>
