<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concesionaria Online</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    
    <center>
    <h1>Bienvenido a Concesionaria Online</h1>
    </center>
    <ul class="dropdown-menu">
        <!-- Verificar permisos específicos -->
        {% if user.is_authenticated %}
            {% if perms.clientes.view_vehiculo %}
            <li><a class="dropdown-item" href="#">Vehículo</a></li>
            {% endif %}
            {% if perms.clientes.view_cliente %}
            <li><a class="dropdown-item" href="{% url 'homepag' %}">Clientes</a></li>
            {% endif %}
            {% if perms.clientes.view_empleado %}
            <li><a class="dropdown-item" href="{% url 'listar' %}">Empleados</a></li>
            {% endif %}
        {% else %}
            <li><a class="dropdown-item" href="{% url 'login' %}">Iniciar Sesión</a></li>
        {% endif %}
    </ul>
    {% block contenido %}
    <!-- Contenido específico de la página -->
    {% endblock contenido %}
</body>
</html>
