{% extends 'Index.html' %}
{% load static %}



{% block contenido %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepag' %}">Bienvenido, {{ user.username }}</a>
            
            <!-- parte administrativa -->
            <a class="navbar-brand" href="{% url 'crear_vehiculo' %}">Vender un auto</a>
            <a class="navbar-brand" href="{% url 'RegistroEmpleado' %}">Agregar un administrador</a>
            <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            
            <!-- Botón Cerrar Sesión -->
        
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-large" value="salir" style="width: 100px;">
            </form>

            <div class="collapse navbar-collapse">
                
            </div>
        </div>
    </nav>
    <CEnter><div class="container" style="margin-top: 5%;">
        <div class="card card-body">
            <h1>Empleados Administrativos</h1>
            <form method="get">
                <div class="form-group">
                    <label for="id_area">Área</label>
                    <select name="area" class="form-control">
                        <option value="">Todas las áreas</option>
                        <option value="supervisor" {% if filtro.area.value == 'supervisor' %} selected {% endif %}>Supervisor</option>
                        <option value="administrador" {% if filtro.area.value == 'administrador' %} selected {% endif %}>Administrador</option>
                        <option value="soporte" {% if filtro.area.value == 'soporte' %} selected {% endif %}>Soporte</option>
                    </select>
                </div>
            
                <button type="submit" class="btn btn-primary">Filtrar</button>
            </form>
            <input type="button" value="Exportar a Excel" onclick="exportar()" class="btn btn-success">
            <table class="table table-bordered table-hover">
                <thead class="table-primary">
                    <tr>
                        <th>Run</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Dirección</th>
                        <th>FonoEmpleado</th>
                        <th>Gmail</th>
                        <th>Área</th>
                        <th>Contraseña</th>
                        <th>Fecha Nacimiento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in lista %}
                    <tr>
                        <td>{{ item.rut }}</td>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.direccion }}</td>
                        <td>{{ item.FonoEmpleado }}</td>
                        <td>{{ item.gmail }}</td>
                        <td>{{ item.area }}</td>
                        <td>*********</td>
                        <td>{{ item.FechaNacimiento }}</td>
                        <td nowrap>
                            <a href="{% url 'actualizar_empleados' item.rut %}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0);" onclick="eliminar('{{ item.rut }}')" class="btn btn-danger" role="button">Eliminar</a>


                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="10" class="text-center">No se encontraron empleados</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div></CEnter>
    <script>
        const eliminar = (id) => {
            Swal.fire({
                title: "¿Está seguro de eliminar el empleado?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Eliminar"
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirigir a la URL de eliminación
                    window.location.href = '/empleado/eliminarempleado/' + id ;  // Asegúrate de que el 'id' sea correcto
                }
            });
        }
        const exportar = () => {
                //url para descargar el excel
                const url = '/empleado/exportexcel' 
                //abre en otra ventana el archivo a descargar
                open(url,'_self')
                }
    </script>
    
    
{% endblock contenido %}
    