{% extends 'Index.html' %}
{% load static %}


{% block contenido %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepag' %}">Bienvenido, {{ user.username }}</a>
            
            <!-- parte administrativa -->
            <a class="navbar-brand" href="{% url 'VenderAuto' %}">Vender un auto</a>
            <a class="navbar-brand" href="{% url 'RegistroEmpleado' %}">Agregar un administrador</a>
            <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            
            <!-- Botón Cerrar Sesión -->
           
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-large" value="salir" style="width: 100px;">
            </form>

            <div class="collapse navbar-collapse">
                
            </div>
        </div>
    </nav>
    <div style="margin-top: 5%;">
        <H3>Vehiculos</H3>
        
        <div class="container">
            <div class="card card-body mt-2">
<!-- aca colocar un if si es que hay productos -->
 
            {% if vehiculo  %}
                
                {% for i in vehiculo %}
                    <div class="container">
                        <div class="card card-body">
                            <!-- {{ i.foto }} por ahora no hay foto xd-->
                            {{ i.nombre }}
                            {{ i.modelo }}
                            {{ i.patente }}
                            {{ i.descripcion }}
                        </div>
                    </div>
                {% endfor %}
                    
            {% else %}
                <center><h1>Por ahora no hay vehiculos a la venta</h1></center>
            {% endif %}
    
            </div>
        </div>
    </div>
{% endblock contenido %}
    