{% extends 'Index.html' %}
{% load static %}


{% block contenido %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepag' %}">Bienvenido, {{ user.username }}</a>
            
            <!-- parte administrativa -->
            <a class="navbar-brand" href="{% url 'crear_vehiculo' %}">Vender un auto</a>
            <a class="navbar-brand" href="{% url 'RegistroEmpleado' %}">Agregar un administrador</a>
            <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            
            <!-- Botón Cerrar Sesión -->
           
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-large" value="salir" style="width: 100px;">
            </form>

            <div class="collapse navbar-collapse">
                
            </div>
        </div>
    </nav>
    <div style="margin-top: 5%;">
        <H3>Vehiculos</H3>
        
        <div class="container">
            <div class="card card-body mt-2">
<!-- aca colocar un if si es que hay productos -->
 
            {% if lista  %}
                
                {% for i in lista %}
                <div class="container">
                    <div class="card card-body">
                        <form action="">
                                 <!-- Mostrar los resultados del vehículo -->
                                <p><strong>Descripción:</strong> {{ i.descripcion }}</p>
                                <p><strong>Marca:</strong> {{ i.marca }}</p>
                                <p><strong>Modelo:</strong> {{ i.modelo }}</p>
                                <p><strong>Año:</strong> {{ i.año }}</p>
                                <p><strong>Precio:</strong> {{ i.precio }}</p>
                            <a href="{% url 'ActualizarVehiculo' i.id %}" class="btn btn-warning">Editar</a>
                            <a href="javascript:void(0);" onclick="eliminar('{{ i.id }}')" class="btn btn-danger" role="button">Eliminar</a>
                        </form>
                        
                    </div>
                </div>
            {% endfor %}
                    
            {% else %}
                <center><h1>Por ahora no hay vehiculos a la venta</h1></center>
            {% endif %}
    
            </div>
        </div>
    </div>
    <script>
        const eliminar = (id) => {
            Swal.fire({
                title: "¿Está seguro de eliminar este vehículo?",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Eliminar"
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = '/EliminarVehiculo/' + id ;
                }
            })
        }
    </script>
    
{% endblock contenido %}
    