{% extends 'Index.html' %}
{% load static %}


{% block contenido %}
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bienvenido, {{ user.username }}</a>
            
            <!-- parte administrativa -->
            <a class="navbar-brand" href="{% url 'VenderAuto' %}">Vender un auto</a>
            <a class="navbar-brand" href="{% url 'crearempleado' %}">Ver los administradores agregados</a>
            <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            
            <!-- Botón Cerrar Sesión -->
            <a class="btn btn-danger" href="{% url 'login' %}">
                <svg class="bi bi-box-arrow-left" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                    <path
                        d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0z" />
                    <path
                        d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
                </svg>
                Cerrar Sesión
            </a>

            <div class="collapse navbar-collapse">
                
            </div>
        </div>
    </nav>
    <div style="margin-top: 5%;">
        <H3>Vehiculos</H3>
        
        <div class="container">
            <div class="card card-body mt-2">
<!-- aca colocar un if si es que hay productos -->
 
            {% if vehiculo  %}
                
                {% for i in vehiculo %}
                    <div class="container">
                        <div class="card card-body">
                            <!-- {{ i.foto }} por ahora no hay foto xd-->
                            {{ i.nombre }}
                            {{ i.modelo }}
                            {{ i.patente }}
                            {{ i.descripcion }}
                        </div>
                    </div>
                {% endfor %}
                    
            {% else %}
                <center><h1>Por ahora no hay vehiculos a la venta</h1></center>
            {% endif %}
    
            </div>
        </div>
    </div>
{% endblock contenido %}
    