{% extends 'index.html' %}
{% load static %}

{% block contenido %}
<div>
    <!-- Navbar con opciones de navegación -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'homepag' %}">Bienvenido, {{ user.username }}</a>

            <!-- Parte administrativa -->
            <div class="d-flex">
                <a class="navbar-brand" href="{% url 'crear_vehiculo' %}">Vender un auto</a>
                <a class="navbar-brand" href="{% url 'RegistroEmpleado' %}">Agregar un administrador</a>
                <a class="navbar-brand" href="{% url 'listar' %}">Ver los administradores agregados</a>
            </div>

            <!-- Botón Cerrar Sesión -->
            <form method="post" action="{% url 'logout' %}" class="d-flex">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger btn-large" value="Salir" style="width: 100px;">
            </form>
        </div>
    </nav>

    <!-- Formulario para registrar el auto -->
    <div class="container" style="margin-top: 5%;">
        <div class="card card-body">
            <h1 class="mb-4">Registrar el Auto que quieras vender</h1>
            
            <form method="post">
                {% csrf_token %}
                <!-- Campos del formulario para el vehículo -->
                {{ formulario }}

                <!-- Botón para publicar el auto -->
                <button type="submit" class="btn btn-success">Publicar</button>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
